//=======================================================================================================================================================
// Section type - call to action
//=======================================================================================================================================================

.section-call-to-action {

	.section-content {
		align-items: center;

		.content-wrap {
			text-align: center;
			max-width: $max-width-md;
		}

		.actions {

			.button-group {
				justify-content: center;
			}
		}
	}
}
