//=======================================================================================================================================================
// Social icons font
//=======================================================================================================================================================

@font-face {
    font-family: 'social-icons';
    src: url('../fonts/orgnk-social-icons/social-icons.woff2') format('woff2'),
        url('../fonts/orgnk-social-icons/social-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}



//=======================================================================================================================================================
// UI icons font
//=======================================================================================================================================================

@font-face {
    font-family: 'ui-icons';
    src: url('../fonts/orgnk-ui-icons/ui-icons.woff2') format('woff2'),
        url('../fonts/orgnk-ui-icons/ui-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&display=swap');
