//=======================================================================================================================================================
// Fonts
//=======================================================================================================================================================
// Font families
$font-1: 'Montserrat', Helvetica, Arial, sans-serif;
$font-2: 'Oswald', sans-serif;
$system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$social-icons: 'social-icons';
$ui-icons: 'ui-icons';

// Font sizes
$default-font-size-mobile: 13px;
$default-font-size-desktop: 14px;
$default-line-height: 1.67;

$h1-desktop: 80px;
$h2-desktop: 60px;
$h3-desktop: 40px;
$h4-desktop: 30px;
$h5-desktop: 24px;
$h6-desktop: 20px;
$body-desktop: 18px; // Default body font size
$small-desktop: 12px;
$caption-desktop: 14px;
$tiny-desktop: 10px;

// Mobile font sizes
$h1-mobile: 48px; // Smaller than desktop
$h2-mobile: 36px; // Smaller than desktop
$h3-mobile: 30px; // Smaller than desktop
$h4-mobile: 24px; // Smaller than desktop
$h5-mobile: 20px; // Smaller than desktop
$h6-mobile: 18px; // Smaller than desktop
$body-mobile: 16px; // Slightly smaller than desktop
$small-mobile: 14px; // Slightly smaller than desktop
$caption-mobile: 12px; // Slightly smaller than desktop
$tiny-mobile: 8px; // Smaller than desktop

// Font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Line heights
$line-height-extra-tight: 1.17;
$line-height-tight: 1.2;
$line-height-normal: 1.6;
$line-height-relaxed: 1.7;

// Letter spacing
$letter-spacing-tight: -0.35px;
$letter-spacing-normal: 0px;
$letter-spacing-wide: 1.4px;
$letter-spacing-extra-wide: 1.9px;

//=======================================================================================================================================================
// Colors
//=======================================================================================================================================================

// Basics
$color-white:                     #ffffff;
$color-black:                     #000000;
$color-light-grey:                #f6f7f8;
$color-mid-grey:                  #d9dadc;
$color-dark-grey:                 #bfc1c4;
$color-red:                       #e21219; // We always require a red color for input errors etc

// Brand specific
$color-navy:                      #062639;
$color-navy-dark:                 #021017;
$color-blue:                      #0096d1;
$color-blue-dark:                 #000a1e;


$color-light-100:                  #0096d1;
$color-light-200:                  #0096d1;
$color-light-300:                  #0096d1;
$color-light-400:                  #0096d1;
$color-light-500:                  #0096d1;
$color-light-600:                  #0096d1;
$color-light-700:                  #0096d1;
$color-light-800:                  #0096d1;
$color-light-900:                  #0096d1;

$color-dark-100:                  #0096d1;
$color-dark-200:                  #0096d1;
$color-dark-300:                  #0096d1;
$color-dark-400:                  #0096d1;
$color-dark-500:                  #0096d1;
$color-dark-600:                  #0096d1;
$color-dark-700:                  #0096d1;
$color-dark-800:                  #0096d1;
$color-dark-900:                  #0096d1;

//=======================================================================================================================================================
// Focus ring - uses the box-shadow property
//=======================================================================================================================================================

$focus-ring-weight:                 2px;
$focus-ring-color:                #89b3f3;
$focus-ring:                        0 0 0 $focus-ring-weight $focus-ring-color, inset 0 0 0 $focus-ring-weight $color-white;
$focus-ring-inset:                  inset 0 0 0 $focus-ring-weight $focus-ring-color, inset 0 0 0 ($focus-ring-weight * 2) $color-white;



//=======================================================================================================================================================
// Header
//=======================================================================================================================================================

$desktop-header-breakpoint:         lg; // For quickly changing the main breakpoint between the mobile and desktop header

$header-top-height-mobile:          40px;
$header-top-height-desktop:         50px;

$header-middle-height-mobile:       60px;
$header-middle-height-desktop:      80px;

$header-bottom-height-mobile:       45px;
$header-bottom-height-desktop:      50px;



//=======================================================================================================================================================
// Layout
//=======================================================================================================================================================

$site-min-width:                    320px;
$site-max-width:                    1600px;

$container-xxs:                     100%;
$container-xs:                      640px;
$container-sm:                      768px;
$container-md:                      1024px;
$container-lg:                      $site-max-width;

$container-pad-mobile:              25px;
$container-pad-tablet:              40px;
$container-pad-desktop:             60px;

$column-pad-mobile:                 20px;
$column-pad-tablet:                 30px;
$column-pad-desktop:                50px;

$section-pad-mobile:                60px;
$section-pad-tablet:                80px;
$section-pad-desktop:               140px;

$gutters:                           12px;
$gutters-sm:                        6px;
$gutters-lg:                        24px;

$line-break:                        20px;
$line-break-xs:                     $line-break - 10px;
$line-break-sm:                     $line-break - 5px;
$line-break-lg:                     $line-break + 5px;
$line-break-xl:                     $line-break + 10px;

$paragraph-break:                   50px;
$paragraph-break-lg:                $paragraph-break + 30px;

$max-width-xxs:                     300px;
$max-width-xs:                      400px;
$max-width-sm:                      500px;
$max-width-md:                      600px;
$max-width-lg:                      700px;
$max-width-xl:                      800px;
$max-width-xxl:                     900px;
$max-width-xxxl:                    1000px;



//=======================================================================================================================================================
// General styling
//=======================================================================================================================================================

// Border radius - set this to 0 for no rounded corners
$corners:                           6px;

// Borders
$border-weight:                     1px;
$border-weight-lg:                  3px;

// Shadows
$shadows:                           0 5px 15px rgba($color-navy-dark, 0.05);
$shadows-lg:                        0px 10px 100px -20px rgba($color-navy-dark, 0.08), 0px 20px 50px -20px rgba($color-navy-dark, 0.08);

// Transitions
$default-transitions:               0.3s;

// Square buttons
$square-button-size:                44px;

// Inputs
$input-height:                      50px;
$input-margins:                     $line-break;
$input-padding:                     15px;

// Checkboxes and radio buttons
$checkbox-radio-size:               20px;

// Modal overlay opacity
$modal-overlay-opacity:             0.95;

// Secondary button icon transform on hover/focus
$secondary-button-transform:        5px;
