//=======================================================================================================================================================
// Contact page template
//=======================================================================================================================================================

.section-contact-general {
    overflow: visible;

    .section-content,
    .section-contact-form {
        width: 100%;
        background-color: $color-white;
        padding-bottom: 20px;

        @include breakpoint(md) {
            padding-bottom: 0;
        }

		@include breakpoint(lg) {
			width: 50%;
		}
    }

    .section-wrap {
        height: 100%;
    }

    .section-content {
        opacity: 1;
        display: flex;
        @include transition(0.6s opacity, position, z-index, visibility);


        .contact-header {
            position: relative;
            flex-direction: column;
            max-width: $max-width-xl;
            width: 100%;

            @include breakpoint(xs) {
                padding: 0 $column-pad-desktop 0 0;
            }
        }

        .business-contact-details,
        .business-social-links {
            margin: $paragraph-break 0 0 0;
        }
    }

    .section-contact-form {
        margin: $section-pad-mobile 0 0 0;

        @include breakpoint(xs) {
            margin: $section-pad-tablet 0 0 0;
        }

        @include breakpoint(lg) {
            margin: 0;
        }

        .contact-form-wrap {
            width: 100%;
            border-radius: $corners;
        }

        .gform_wrapper {

            input[type="submit"] {
                width: 100%;
                margin: $line-break-xs 0 0 0;
            }
        }
    }

    .contact-header {
        &.mobile {
            display: none;
        }
    }
}

.section-contact-map {

    .section-map {
        width: 100%;

        .orgnk-gmap {

            @include breakpoint(md) {
                min-height: $max-width-md;
            }
        }
    }
}
