//=======================================================================================================================================================
// Google maps
//=======================================================================================================================================================

.orgnk-gmap {
    display: flex;
    min-height: $max-width-xs;
    width: 100%;
    border-radius: $corners;
    overflow: hidden;

    @include breakpoint(md) {
        min-height: $max-width-sm;
    }

    iframe {
        border-radius: $corners;
    }
}
